.perform-pages{
    color: #232323;
    height: 100%;
}

.header-wrapper{
    border-bottom: 1px solid #ebebeb;
    .am-navbar-light{
        color:#000;
    }
    .am-navbar-title {
        font-weight: 350;
        color: #232323;
    }
}

.nav-wrapper{
    height: .455rem;
    padding: .1rem 0 .1rem .15rem;
    display: flex;
    align-items: center;
    font-size: .15rem;
   .scroll-wrapper{
        flex: 1;
        white-space:nowrap;
        overflow: auto;
        .scroll-content{
            display:inline-block;
        }
   }
    .nav{
       display: flex;
       
        li{
            flex-shrink:0;
            padding: .05rem;
           
            margin-right: .15rem;
            

        }
        li.active{
            color: #FF6743;
            border-bottom: 2px solid #FF6743;
        }
        
    }
    .city{
        width: .76rem;
        text-align: center;
        border-left:1px solid #d1cece;
        img{
            margin-left: .03rem;
            width: .1rem;
            height: .13rem;
        }
    }
}

.perform-pages{
    display: flex;
    flex-direction: column;
}

.scroll-wrapper{
   flex: 1;
    .list100{
        padding: 0 .15rem;
        padding-top: 0.05rem;
        column-count: 2;
        column-gap: .05rem;
         
    }   
}




